:root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.container .base {
  background-color: #F4BF01;
  width: 6em;
  height: 18em;
  border-radius: 0 0 12% 12%;
}

.container .base .wrapper {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f4bf01' fill-opacity='0.49' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #F1E1A0;
  position: relative;
  width: inherit;
  height: 15em;
  top: 3em;
  border-radius: 0 0 12% 12%;
  z-index: 1;
}

.container .base .wrapper .text {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
}

.container .base .wrapper .text1 {
  right: 5em;
  top: 5em;
}

.container .base .wrapper .text2 {
  display: inline-block;
  background-color: #CC0A5A;
  width: 15em;
  right: 4em;
  top: 2.9em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.container .base .wrapper .text3 {
  right: .2em;
  width: 6em;
  font-size: 1.9em;
  color: #CC0A5A;
  text-decoration: underline;
}

.container .wrapper:after {
  content: " ";
  display: inline-block;
  position: relative;
  background-color: #F4BF01;
  border-radius: 0 0 50% 50%;
  width: 6em;
  height: 1em;
  bottom: 12.6em;
  z-index: 2;
}

.container .lid {
  position: relative;
  bottom: 20em;
  background-color: #CC0A5A;
  width: 6em;
  height: 5em;
  display: block;
  border-radius: 20% 20% 5% 5%;
  -webkit-animation: lidOff 2s infinite alternate;
          animation: lidOff 2s infinite alternate;
}

.container .lid .base_lid {
  display: inline-block;
  position: relative;
  top: 2em;
  background-color: #CC0A5A;
  width: 6em;
  height: 1em;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 3;
}

.container .lid:before {
  content: " ";
  display: inline-block;
  position: relative;
  bottom: .5em;
  background-color: #e03e77;
  width: 6em;
  height: 2em;
  border-radius: 50% 50% 0 0;
}

.container .lid:after {
  content: " ";
  display: inline-block;
  position: relative;
  bottom: 3em;
  background-color: #e03e77;
  width: 6em;
  height: 2em;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container .balm {
  position: absolute;
  bottom: 15em;
  z-index: -1;
  width: 6em;
  height: 8em;
  border-radius: 30% 30% 0 0;
  background-color: #f1f179;
  -webkit-animation: balmMove 2s infinite alternate;
          animation: balmMove 2s infinite alternate;
}

.container2 {
  position: absolute;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.container2 .base2 {
  background-color: #F4BF01;
  width: 6em;
  height: 18em;
  border-radius: 0 0 12% 12%;
}

.container2 .base2 .wrapper2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f4bf01' fill-opacity='0.49' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #F1E1A0;
  position: relative;
  width: inherit;
  height: 15em;
  top: 3em;
  border-radius: 0 0 12% 12%;
  z-index: 1;
}

.container2 .base2 .wrapper2 .text2 {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
}

.container2 .base2 .wrapper2 .text1-2 {
  right: 5em;
  top: 5em;
}

.container2 .base2 .wrapper2 .text2-2 {
  display: inline-block;
  background-color: #3F0D4A;
  width: 15em;
  right: 4em;
  top: 2.9em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.container2 .base2 .wrapper2 .text3-2 {
  right: .2em;
  width: 6em;
  font-size: 1.9em;
  color: #CC0A5A;
  text-decoration: underline;
}

.container2 .wrapper2:after {
  content: " ";
  display: inline-block;
  position: relative;
  background-color: #F4BF01;
  border-radius: 0 0 50% 50%;
  width: 6em;
  height: 1em;
  bottom: 12.6em;
  z-index: 2;
}

.container2 .lid2 {
  position: relative;
  bottom: 20em;
  background-color: #3F0D4A;
  width: 6em;
  height: 5em;
  display: block;
  border-radius: 20% 20% 5% 5%;
  -webkit-animation: lidOff 2s infinite alternate;
          animation: lidOff 2s infinite alternate;
}

.container2 .lid2 .base_lid2 {
  display: inline-block;
  position: relative;
  top: 2em;
  background-color: #3F0D4A;
  width: 6em;
  height: 1em;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 3;
}

.container2 .lid2:before {
  content: " ";
  display: inline-block;
  position: relative;
  bottom: .5em;
  background-color: #531561;
  width: 6em;
  height: 2em;
  border-radius: 50% 50% 0 0;
}

.container2 .lid2:after {
  content: " ";
  display: inline-block;
  position: relative;
  bottom: 3em;
  background-color: #531561;
  width: 6em;
  height: 2em;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container2 .balm2 {
  position: absolute;
  bottom: 15em;
  z-index: -1;
  width: 6em;
  height: 8em;
  border-radius: 30% 30% 0 0;
  background-color: #f1f179;
  -webkit-animation: balmMove 2s infinite alternate;
          animation: balmMove 2s infinite alternate;
}

.container3 {
  position: absolute;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
}

.container3 .base3 {
  background-color: #F4BF01;
  width: 6em;
  height: 18em;
  border-radius: 0 0 12% 12%;
}

.container3 .base3 .wrapper3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f4bf01' fill-opacity='0.49' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-color: #F1E1A0;
  position: relative;
  width: inherit;
  height: 15em;
  top: 3em;
  border-radius: 0 0 12% 12%;
  z-index: 1;
}

.container3 .base3 .wrapper3 .text3 {
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
}

.container3 .base3 .wrapper3 .text1-3 {
  right: 5em;
  top: 5em;
}

.container3 .base3 .wrapper3 .text2-3 {
  display: inline-block;
  background-color: #9CBE6B;
  width: 15em;
  right: 4em;
  top: 2.9em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.container3 .base3 .wrapper3 .text3-3 {
  right: .2em;
  width: 6em;
  font-size: 1.9em;
  color: #CC0A5A;
  text-decoration: underline;
}

.container3 .wrapper3:after {
  content: " ";
  display: inline-block;
  position: relative;
  background-color: #F4BF01;
  border-radius: 0 0 50% 50%;
  width: 6em;
  height: 1em;
  bottom: 12.6em;
  z-index: 2;
}

.container3 .lid3 {
  position: relative;
  bottom: 20em;
  background-color: #9CBE6B;
  width: 6em;
  height: 5em;
  display: block;
  border-radius: 20% 20% 5% 5%;
  -webkit-animation: lidOff 2s infinite alternate;
          animation: lidOff 2s infinite alternate;
}

.container3 .lid3 .base_lid3 {
  display: inline-block;
  position: relative;
  top: 2em;
  background-color: #9CBE6B;
  width: 6em;
  height: 1em;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 3;
}

.container3 .lid3:before {
  content: " ";
  display: inline-block;
  position: relative;
  bottom: .5em;
  background-color: #afd47b;
  width: 6em;
  height: 2em;
  border-radius: 50% 50% 0 0;
}

.container3 .lid3:after {
  content: " ";
  display: inline-block;
  position: relative;
  bottom: 3em;
  background-color: #afd47b;
  width: 6em;
  height: 2em;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container3 .balm3 {
  position: absolute;
  bottom: 15em;
  z-index: -1;
  width: 6em;
  height: 8em;
  border-radius: 30% 30% 0 0;
  background-color: #f1f179;
  -webkit-animation: balmMove 2s infinite alternate;
          animation: balmMove 2s infinite alternate;
}

@-webkit-keyframes lidOff {
  0% {
    bottom: 20em;
  }
  100% {
    bottom: 30em;
  }
}

@keyframes lidOff {
  0% {
    bottom: 20em;
  }
  100% {
    bottom: 30em;
  }
}

@-webkit-keyframes balmMove {
  0% {
  }
  100% {
    bottom: 20em;
  }
}

@keyframes balmMove {
  0% {
  }
  100% {
    bottom: 20em;
  }
}
/*# sourceMappingURL=style.css.map */